.landing {
  background: #f0f1f6;
}

.landing__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 60px 0 180px;
}

.landing__preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing__preview-info {
  width: 60%;
}

.landing__title {
  font-family: "Open Sans Hebrew Condensed", sans-serif;
  color: #212327;
  padding: 0;
  font-weight: 300;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.landing__subtitle {
  max-width: 400px;
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 24px;
  font-family:  "Open Sans Hebrew Condensed", sans-serif;
  color:  #494949;
}

.landing__btn {
  font-family: "Open Sans Hebrew", sans-serif;
  background: #618dff;
  padding: 17px 20px;
  border-radius: 32px;
  width: 193px;
  height: 64px;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  border: none;
}

.landing__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.landing__preview-form {
  width: 40%;
}

.landing__form-image {
  max-width: 468px;
  max-height: 547px;
  padding: 0;
  margin: 0;
}

.landing__form-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
