.landing {
  background: #f8f8f8;
}

.landing__container {
  max-width: 1200px;
  margin: 0 auto;
}

.landing__preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing__title {
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 28px;
  color: #000;
}

.landing__list {
  padding: 0 0 0 20px;
  margin: 0 0 40px 0;
}

.landing__list-item {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.landing__btn {
  border-radius: 20px;
  padding: 0px 24px;
  width: 277px;
  height: 45px;
  background: linear-gradient(142deg, #4e80ff 0%, #755ffc 100%);
  font-weight: 500;
  font-size: 18px;
  color: #f6f4f4;
  border: none;
}

.landing__btn:hover {
  cursor: pointer;
}

.landing__preview-info {
  width: 50%;
}

.landing__preview-form {
  width: 50%;
}

.landing__form-image {
  max-width: 664px;
  max-height: 830px;
  padding: 0;
  margin: 0;
}
