.btn {
	background-color: #fff;
	color: #4e80ff;
	width: 190px;
	height: 45px;
	border: 2px solid #4e80ff;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	transition: 0.3s;
}

.btn_blue {
	background-color: #4e80ff;
	color: #fff;
}

.btn_large {
	width: 604px;
}

.btn:hover {
	box-shadow: 4px 4px 12px 0px rgba(16, 16, 16, 0.4);
	cursor: pointer;
}
