.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s,
    visibility 0.5s linear;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  background-color: #f5f5f5;
  color: black;
  border-radius: 20px;
  width: 644px;
  height: 409px;
  padding: 20px;
  box-sizing: border-box;
}

.popup_signUp {
  height: 694px;
}

.popup__close-button {
  border: none;
  background-image: url(../../images/close-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__title-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.popup__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 28.13px;
  margin: 0;
}

.popup__save-button {
  width: 100%;
  height: 55px;
  border-radius: 20px;
  margin-bottom: 40px;
  background-color: #848484;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  color: white;
  padding: 0;
  border: 0;
}

.popup__save-button:hover {
  background-color: rgb(0, 0, 0, 0.8);
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__input-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  padding-bottom: 20px;
}

.popup__custom-input {
  display: flex;
  align-items: center;

  input {
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    color: black;

    &:focus {
      border: none;
    }
  }
}

.popup__custom-input_type-passoword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .popup__password-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    background-image: url(../../images/eye.svg);
    width: 40px;
    height: 40px;
  }

  .popup__input {
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 24.5px 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    color: black;

    &:focus {
      border: none;
    }
  }
}

.popup__custom-input::placeholder,
.popup__custom-input_type-passoword {
  color: #848484;
}

.popup__link-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  color: #848484;

  .popup__link {
    font-weight: 600;
    text-decoration: none;
    color: #848484;
  }
}

.popup__checkbox-container {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 16px;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    color: #848484;

    input[type='checkbox'] {
      display: none;
    }

    .checkbox-custom {
      width: 32px;
      height: 32px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      margin-right: 5px;
      transition: all 0.3s;
      position: relative;
      background-color: #fff;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        background-image: url('../../images/check--check-form-validation-checkmark-success-add-addition-tick.svg');
        background-size: cover;
        opacity: 0;
        transition: all 0.3s;
      }
    }

    input[type='checkbox']:checked + .checkbox-custom {
      background-color: white;

      &:after {
        opacity: 1;
      }
    }
  }
}
