.about {
  background: #f0f1f6;
}

.about__container {
  max-width: 1244px;
  margin: 0 auto;
  padding: 80px 0;
}

.about__title {
  text-align: center;
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 67%;
  color: #212327;
  font-family: "Open Sans Hebrew Condensed", sans-serif;
}

.about__columns {
  display: flex;
  justify-content: space-between;
}

.about__column {
  box-sizing: border-box;
  max-width: 400px;
  min-height: 400px;
  border-radius: 22px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.about__column:hover {
  transform: scale(1.1);
}

.about__column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin: 0;
  padding: 16px 30px;
}

.about__image-background {
  border-radius: 28px;
  width: 326px;
  min-height: 200px;
  background: rgba(153, 176, 255, 0.31);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}

.about__image-container {
  max-width: 140px;
  max-height: 140px;
  box-sizing: border-box;
}

.about__image-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.about__column-title {
  color: #212327;
  font-family: "Open Sans Hebrew", sans-serif;
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 28px;
}

.about__column-text {
  margin: 12px 0 0;
  font-weight: 400;
  font-size: 20px;
  color: #212327;
  font-family: "Open Sans Hebrew", sans-serif;
}
