.footer {
  background: #f8f8f8;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 44px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  margin: 0;
  padding: 0;
}

.footer__link {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  color: #586fc1;
}

.footer__link:nth-child(2) {
  margin-top: 10px;
}

.footer__link-terms, .footer__link-mail {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #586fc1;
}

.footer__link-mail {
  margin-left: 20px;
}
